.wrapper {
  display: flex;
  background-color: #fabc48;
  max-width: 1400px;
  height: 450px;
  margin: 10px 10px;
  margin-top: 36px;
  border-radius: 30px;
  justify-content: space-between; 
  align-items: center; 
}

.wrapper .info {
  margin-top: 0; 
  margin-left: 25px; 
  margin-bottom: 25px; 
  margin-right: 0; 
  text-align: left;
  line-height: 28px;
}

.wrapper .info h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.wrapper .info p {
  width: 316px;
  height: 84px;
  font-size: 18px;
  opacity: 0.7;
}

.wrapper img {
  height: 450px; 
  width: auto; 
  margin: 0 ; 
}

.about {
  max-width: 940px;
  margin: 0 auto;
  text-align: justify;
}

.about h1 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 24px;
}

.about h2 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 20px;
}

.about p {
  font-size: 18px;
  margin-bottom: 50px;
}
