.recipes-container {
  display: grid;
  gap: 2rem 1rem;
}

.recipes-list {
  display: grid;
  gap: 2rem 1rem;
  padding-bottom: 3rem;
}

.tags-container {
  order: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}

.tags-container h4 {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.tags-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.tags-list a {
  text-transform: capitalize;
  display: block;
  color: var(--dark-grey);
  transition: var(--transition);
}

.tags-list a:hover {
  color: var(--dark-orange);
}

.recipe {
  display: block;
}

.recipe-img {
  height: 15rem;
  border-radius: var(--borderRadius);
  margin-bottom: 1rem;
}

.recipe h5 {
  margin-bottom: 0;
  margin-top: 0.25rem;
  line-height: 1;
  color: var(--dark-grey);
}

.recipe p {
  margin-bottom: 0;
  line-height: 1;
  color: var(--dark-grey);
  margin-top: 0.5rem;
  letter-spacing: var(--letterSpacing);
}
/* Responsivo */
/* Primeira @media screen para até 400px */
@media screen and (max-width: 400px) {
  .recipes-list {
    grid-template-columns: 1fr;
  }
  .recipe-img {
    height: auto;
  }
}
/* Segunda @media screen para 400px até 800px */
@media screen and (min-width: 400px) {
  .recipes-list {
    grid-template-columns: 1fr 1fr;
  }
  .recipe-img {
    height: 10rem;
  }
  .recipes-container {
    grid-template-columns: 200px 1fr;
    gap: 1rem;
  }
  .recipe p {
    font-size: 0.85rem;
  }
  .tags-container {
    order: 0;
  }
  .tags-list {
    display: grid;
    grid-template-columns: 1fr;
  }
  .recipe h5 {
    font-size: 1.15rem;
  }
}

@media screen and (min-width: 800px) {
  .recipes-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
