.tags-wrapper {
  display: grid;
  gap: 2rem;
  padding-bottom: 3rem;
}

.tag {
  background: var(--dark-gray);
  border-radius: var(--borderRadius);
  text-align: center;
  color: var(--white);
  transition: var(--transition);
  padding: 0.75rem 0;
}

.tag:hover {
  background: var(--dark-orange);
}

.tag h5,
.tag p {
  margin-bottom: 0;
}

.tag h5 {
  font-weight: 600;
}

/* Responsivo */
@media screen and (min-width: 400px) {
  .tags-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 800px) {
  .tags-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
